<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thrifters</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
</head>    
<body>
    <header class="header">
        <!-- <a href="#" id="logo"> <span>logo</span></a> -->
        <a href="/index" >
            <img src="static/images/Thrifters.png", class = 'logo'>
        </a>
        <nav class="navbar">
            <a href="/index"><b>home</b></a>
            <a href="/women"><b>women</b></a>
            <a href="/men"><b>men</b></a>
            <a href="/contacts"><b>contact</b></a>
            {% if session %}
                <a href="/cart"><b>Cart</b></a>
                <a href='/logout'><b>Log Out({{session['username']}})</b></a>
            {% else %}
                <a href='/login'><b>Log In</b></a>
                
            {% endif %}
            
        </nav>
        <div class="icons">
            <div class="fas fa-bars" id="menu-bar"></div>
            
        </div>



    </header>
    <section class="Experience" id="Experience"></section>

        <div class="content">
            <div class="row">
                <div class="col-75">
                <div class="container">
                <form method = 'POST' action='/signup'>
            
                    <div class="row">
                        <div class="col-50">
                        <h3><center><b></b>Details</b></center></h3>
                        <label for="fname"><i class="fa fa-user"></i> First Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="John M. ">
                        <label for="fname"><i class="fa fa-user"></i> Last Name</label>
                        <input type="text" id="fname" name="lastname" placeholder=" Doe">
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" placeholder="john@example.com">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Password</label>
                        <input type="text" id="adr" name="password" placeholder="@#$%^4567">
                        <label for="city"><i class="fa fa-institution"></i> Gender</label>
                        <input type="text" id="city" name="gender" placeholder="Female">
            
                        <div class="row">
                            <div class="col-50">
                            <label for="state">Nation</label>
                            <input type="text" id="state" name="nation" placeholder="US">
                            </div>
                            <div class="col-50">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="NY">
                             </div>
                            <div class="col-50">
                            <label for="zip">Zip</label>
                            <input type="text" id="zip" name="zip" placeholder="10001">
                            </div>
                        </div>
                        </div>
            
                       
            
                    </div>
                    
                    <input type="submit" value="Submit" class="btn">
                </form>
                </div>
                </div>
            </div>
        </div>

</body>
</html>